 
 <div class "row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      
    <h1><string>User info</string></h1>
    
    <% if @user.errors.any? %>
    <%= @user.errors.count %>error prohibited this obj from being saved:
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
    <% end %>
  
<%= form_with model:@user, local: true, html: { class: 'form-group' } do |f| %>
  <div class="form-group">
    <h4>Name</h4>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <h4>Image</h4>
    <%= f.attachment_field :profile_image %>
  </div>
  
  <div class="form-group">
    <h4>Introduction</h4>
    <%= f.text_area :introduction, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.submit 'Update User', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
</div>